<%- contentFor('header') %> 
<%- include('../partials/navInside') %> 

<%- contentFor('body') %> 
<h2><i class="fa fa-car fa-lg"></i> Pickups</h2>
<h4>Adresses:</h4>

    <% data.map((data) => { %>
        <div class="row" style="border: 1px solid lightgrey; border-radius: 5px; margin-bottom: 10px; box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);">
            <div class="address u-pull-left" style="text-align: left; border-right: 1px solid lightgray; padding: 5px; width: 200px">
                <h6 style="border-bottom: 1px solid lightgray;">Address:</h6>
                <p><strong><%= data.name %></strong></p>
                <p><%= data.address %></p>
                <p><%= data.postalcode %></p>
                <p><%= data.city %></p>
                <p><%= data.phone %></p>
            </div>
            <div class="pickup-times u-pull-left" style="text-align: left; padding: 5px; width: 70%;" >
                <h6 style="border-bottom: 1px solid lightgray;">Pickup times:</h6>
                <div style="display: flex; justify-content: space-evenly;">
                    <div class="pickup-times-cont">
                        <p><strong>Monday</strong></p>
                        <div style="display: flex; justify-content: space-evenly;">
                            <div>
                                <p>From:</p>
                                <p><%= data.mondayfrom %></p>
                            </div>
                            <div>
                                <p>To:</p>
                                <p><%= data.mondayto %></p>
                            </div>
                        </div>
                    </div>
                    <div class="pickup-times-cont">
                        <p><strong>Tuesday</strong></p>
                        <div style="display: flex; justify-content: space-evenly;">
                            <div>
                                <p>From:</p>
                                <p><%= data.tuesdayfrom %></p>
                            </div>
                            <div>
                                <p>To:</p>
                                <p><%= data.tuesdayto %></p>
                            </div>
                        </div>
                    </div>
                    <div class="pickup-times-cont">
                        <p><strong>Wednesday</strong></p>
                        <div style="display: flex; justify-content: space-evenly;">
                            <div>
                                <p>From:</p>
                                <p><%= data.wednesdayfrom %></p>
                            </div>
                            <div>
                                <p>To:</p>
                                <p><%= data.wednesdayto %></p>
                            </div>
                        </div>
                    </div>
                    <div class="pickup-times-cont">
                        <p><strong>Thursday</strong></p>
                        <div style="display: flex; justify-content: space-evenly;">
                            <div>
                                <p>From:</p>
                                <p><%= data.thursdayfrom %></p>
                            </div>
                            <div>
                                <p>To:</p>
                                <p><%= data.thursdayto %></p>
                            </div>
                        </div>
                    </div>
                    <div class="pickup-times-cont">
                        <p><strong>Friday</strong></p>
                        <div style="display: flex; justify-content: space-evenly;">
                            <div>
                                <p>From:</p>
                                <p><%= data.fridayfrom %></p>
                            </div>
                            <div>
                                <p>To:</p>
                                <p><%= data.fridayto %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="address u-pull-left" style="text-align: left; padding: 5px; width: 200px; border-left: 1px solid lightgray">
                <h6 style="border-bottom: 1px solid lightgray;">Actions:</h6>
                <div style="display: flex; flex-direction: column; justify-content: space-evenly; height: 195px;">
                    <a class="button button-primary" href="#"><i class="fas fa-edit"></i> Edit</a>
                    <a class="button button-primary delete" href="#"><i class="fas fa-trash"></i> Delete</a>
                </div>
            </div>
        </div>
    <% }) %>  
 