<%- contentFor('header') %> 
<%- include('../partials/navInside') %> 

<%- contentFor('body') %> 
<h2><i class="fa fa-car fa-lg"></i> Pickups</h2>
<h4>Adresses:</h4>
<table style="width: 100%;">
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Postal Code</th>
        <th>City</th>
        <th>Mon</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Fri</th>
        <th>Collies</th>
        <th>Weight</th>
    </tr>
    <% data.map((data) => { %>
        <tr>
            <td><%= data.name %></td>
            <td><%= data.address %></td>
            <td><%= data.postalcode %></td>
            <td><%= data.city %></td>
            <td><%= data.mondayfrom %></td>
            <td><%= data.mondayto %></td>
            <td><%= data.tuesdayfrom %></td>
            <td><%= data.tuesdayto %></td>
            <td><%= data.wednesdayfrom %></td>
            <td><%= data.wednesdayto %></td>
            <td><%= data.thursdayfrom %></td>
            <td><%= data.thursdayto %></td>
            <td><%= data.fridayfrom %></td>
            <td><%= data.fridayto %></td>
            <td><%= data.collies %></td>
            <td><%= data.weight %></td>
        </tr>
    <% } )%> 
</table>
 